<!DOCTYPE html>
<html>
<head>
    <title>My Application</title>
</head>
<body>
    <p>This page was rendered at <%= new Date() %>.</p>

    <input id="a" type="number"> + <input id="b" type="number">

    <input id="add" type="submit" value="Add">

    <span id="result"></span>

    <script src="script.js"></script>
</body>
</html>